.main{
    padding-top:170px;
    background-color: #F0F8FF;
}

.aboute__img-wrapper{
   position:relative;
    img{
       width:100%;
       height:100%;
       object-fit: cover;
   } 
    @media screen and (max-width:767px) {
    }
}
.img-container{
    @media screen and (max-width:767px) {
        flex:0 0;
        min-width:320px;
    }
}
.text-container{
    padding-left:120px;
    @media screen and (max-width:767px) {
        padding-left:12px;
    }
}
.aboute__text--desciption{
    @media screen and (max-width:767px) {
        font-size: 1.25rem!important;
    }
}
.photo-text{
    background-image: url('../img/03.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding:14px 70px;
    margin-top:80px;
    z-index: 1;
    @media screen and (max-width:992px) {
        padding:14px 25px;
        margin-top:50px;
    }
    @media screen and (min-width:1200px) {
        margin-top:120px;
    }
}

.aboute__photo-text-wrapper{
    width:330px;
    top:-63px;
    left:38px;
    height: 220px;
    z-index: -1;
    img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    @media screen and (max-width:767px) {
        display: none;
    }
    @media screen and (max-width:992px) {
        width: 268px;
        top: -42px;
        left: -12px;
        height: 164px;
    }
    @media screen and (min-width:1200px) {
        width: 411px;
        top: -76px;
        left: 54px;
        height: 223px;
    }
}
.text-container{
    min-width: 320px;
}