.text {
    padding:200px 0;
}

.text__content {
    max-width:800px;
    font-size:3.5rem;
    background: linear-gradient(38deg, rgba(0,0,0,1) 37%, rgba(124,124,124,1) 59%);
     -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    @media screen and (max-width:767px) {
        font-size:2.5rem;
    }
    @media screen and (max-width:540px) {
        font-size:1.5rem;
    }
}
.text__coma{
    margin-top:39px;
    min-width:20px;
    height:20px;
    flex-basis: 20px;
    background-color:black;
    font-weight: bold;
    border-radius: 50%;
    @media screen and(max-width:767px) {
        margin-top:24px;
    }
     @media screen and (max-width:540px) {
        min-width:10px;
        height:10px;
        margin-top:14px;
        margin-right:20px !important;
    }
}
.img-part{
    img{
        object-fit: cover;
        width:100%;
        
    }
}